#app{
    font-family: 'Montserrat', sans-serif;
}

.btnup{
	position:fixed;
	bottom:40px;
	right:40px;
	font-size:30px;
	width:50px;
	height:50px;
	background-color: rgb(27, 27, 93); 
	border:none;
	border-radius:50%;
	display:none;
}

/* -------------------------------------------------- */
.btnup:focus { outline: none; }

.btn-outline-success{
	color: rgb(27, 27, 93); 
}



@-webkit-keyframes btnup {
	0% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
	50% {
	  -webkit-transform: translateY(-2px);
	  transform: translateY(-2px);
	}
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  @keyframes btnup {
	0% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
	50% {
	  -webkit-transform: translateY(-2px);
	  transform: translateY(-2px);
	}
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  @-webkit-keyframes btnup-sink {
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  @keyframes btnup-sink {
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  .btnup {
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	/*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .btnup .nbu {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
  }
  .btnup:hover .nbu {
	-webkit-animation-name: btnup-sink, btnup;
	animation-name: btnup-sink, btnup;
	

	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
  }
