.imagen_aplicaion_web{
    background-image: url("../../recursos/img/aplicacion_web.jpg");
    background-attachment: fixed;
    width: 100%;
    background:cover;
    height:400px;
}

.bg_plomo{
    background:#E9E8E8;
}

.escala:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}