


.navbar
{
    width: 100%;
    z-index:-1;
}

#navbar-top{
    z-index:1;
}

#inicio, #nosotros, #portafolio, #servicios, #contacto{
    font-size: 15px;
}

#inicio:hover{
    background: #E3E0E0 !important;
    transform: scale(1.1);
}

#nosotros:hover{
    background: #E3E0E0 !important;
    transform: scale(1.1);
}

#portafolio:hover{
    background: #E3E0E0 !important;
    transform: scale(1.1);
}

#inicio, #servicios, #nosotros, #portafolio, #contacto{
    color:#0066FF !important;
}

#servicios:hover{
    background: #E3E0E0 !important;
    transform: scale(1.1);
}

#contacto:hover{
    background: #E3E0E0 !important;
    transform: scale(1.1);
}

#button-addon2{
    border-color:#0066FF;
    color:#0066FF;
}

#button-addon2:hover{
    background-color:#0066FF;
    color:#f7f7ff;
}

#input_buscar{
    border-color:#0066FF;
    
}


.nav-item:hover .nav-link {
	
	border-radius:10px;
	
}
/*----------------- */
#nosotros{
    animation-delay:300ms;
}

#servicios{
    animation-delay:600ms;
}

#portafolio{
    animation-delay:900ms;
}


#contacto{
    animation-delay:1200ms;
}


#buscador{
    animation-delay:1500ms;
}

#input_buscar::placeholder{
    color:#bcbcbc;
    
}
/* --------------------------------------------*/

.change .bar1{
    transform: rotate(-45deg) translate(-9px,6px);
  }
  
  .change .bar3{
    transform: rotate(45deg) translate(-8px,-6px);
  }
  
  .change .bar2{
    opacity:0;
  }

  .c3{
    display:inline-block;
    cursor:pointer;
    }
    
    .bar1, .bar2, .bar3{
        width:35px;
        height:4px;
        background-color:rgb(11, 11, 132, 0.993);
        margin:6px 0;
        border-radius:20%;
        transition:0.4s ease;
    }

    
#top{
    min-height:54px;
    z-index:-1;
}

